body { background: #be232a; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 32px; display: flex; }
.block-email-0 { color: #202865; font-size: 18px; margin-bottom: 5px; }
.block-session-1 { color: #4ab087; font-size: 18px; margin-bottom: 5px; }
.block-validator-2 { color: #395334; font-size: 21px; margin-bottom: 5px; }
.block-config-3 { color: #8ac00b; font-size: 14px; margin-bottom: 5px; }
.block-email-4 { color: #70a298; font-size: 16px; margin-bottom: 5px; }
.block-filter-5 { color: #596781; font-size: 20px; margin-bottom: 5px; }
.block-email-6 { color: #287d57; font-size: 12px; margin-bottom: 5px; }
.block-user-7 { color: #612228; font-size: 21px; margin-bottom: 5px; }
.block-uploader-8 { color: #dae34b; font-size: 21px; margin-bottom: 5px; }
.block-shipping-9 { color: #93f9; font-size: 13px; margin-bottom: 5px; }
.block-search-10 { color: #dd88bd; font-size: 13px; margin-bottom: 5px; }